body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background-image: url(./background.jpg);
  color: white;
}

#alien-container {
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  height: 70vh;
  width: 100vw;
}

.bobs {
  width: 40vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: black;
  opacity: 0.8;
}

#fire {
  width: 200px;
  height: 100px;
  position: absolute;
  top: 80%;
  left: 35%;
}

#reset {
  width: 200px;
  height: 100px;
  position: absolute;
  top: 80%;
  left: 50%;
}
