* {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

#aliens-container{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 70vh;
  width: 80vw;
}

.bobs{
  display: flex;
  flex-wrap: nowrap
}

#fire {
  width: 200px;
  height: 100px;
  position: absolute;
  top: 80%;
  left: 35%;  
}

#reset {
  width: 200px;
  height: 100px;
  position: absolute;
  top: 80%;
  left: 50%;
}